*
!index.html
!README.md
!LICENSE
!.gitignore
!CNAME
!guide/
!guide/**
!app/
!app/**
!persistence.md
!feeds/
!feeds/**
!scripts/
!scripts/**
!.github/
!.github/**
!wrangler.jsonc

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
